<!-- page header -->
<%- include("partials/header"); -%>
<!-- post title and content -->
<div class="figure p-4" style=" display: block; margin-left:auto !important; margin-right: auto; padding-left: auto;">
  <img src="<%= producer.Picture %>" class="figure-img img-fluid rounded" style=" display: block; margin-left:auto !important; margin-right: auto; padding-left: auto; min-height: 700px;" alt="...">
  <figcaption class="figure-caption" style="display: block; margin-left:auto !important; margin-right: auto; padding-left: auto;"><%=producer.title %></figcaption>
</div>
  <h1><%=producer.Name%></h1>
  <h4><%=producer.Location %></h4>
  <hr>
  <p><%=producer.Info%></p>

  <div class = row>
    <div class="col-sm-6">
      <h3>We produce: </h3>
      <button type="button" class="btn btn-success" ref=>
        <span class="badge badge-light badge-pill"><a style="color: white;" href="./distributor/<%=item1._id%>"><%= item1.Name%></a></span>
      </button>
    </div>
    <div class="col-sm-6">
      <h3> Support us by buying from these retailers! </h3>
      <% for (i=0; i < distList.length; i ++) { %>
        <button type="button" class="btn btn-success" ref=>
          <span class="badge badge-light badge-pill"><a style="color: white;" href="./distributor/<%=distList[i]._id%>"><%= distList[i].Name%></a></span>
        </button>
        <% }; %>
    </div>
  </div>
  <!-- page footer -->
<%- include("partials/footer"); -%>