<%- include("partials/header"); -%>
<h1>Producers</h1>

<% producers.forEach(function(prod){ %>
    <div class="card" style="width: 100%;">
        <img src="<%= prod.Picture %>" class="card-img-top" alt="...">
        <div id= "<%= prod._id %>"class="card-body">
          <h5 class="card-title"><%= prod.Name %></h5>
          <p class="card-text"><%= prod.Info.substring(0,100) + "..." %>></p>
          <a href="/producers/<%= prod._id%>" class="btn btn-success">Read More</a>
        </div>
      </div>
<% }); %>
<%- include("partials/footer"); -%>
